doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Flights
    body
        block header
            h1 Flights
        block content
        block footer
            p. 
                &copy; 2023 | #[a(href='#') View Source]