doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Flights
    body
        block header
            h1 Flights
            nav
                ul 
                    li: a(href="/flights") All Flights
                    li: a(href="/flights/new") Add Flight

        block content
        block footer
            p. 
                &copy; 2023 | #[a(href='#') View Source]