extends ../default

block content
    article.flight
        h2 Flight Breakdown
        h3 #{flight.airline}, Flight##{flight.flightNo} @ #{flight.airport}
        h4= `Departing ${flight.departs.toUTCString()}`